{% extends 'base_content.html' %}

{% block side %}

<ol>
	<li><a href='https://en.wikipedia.org/wiki/Yoruba_culture' target='content_frame'>Yoruba</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Olojo_festival' target='content_frame'>Olojo Festival</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Ojude_Oba_festival' target='content_frame'>Ojude Oba</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Eyo_festival' target='content_frame'>Eyo</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Igogo_festival' target='content_frame'>Igogo</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Oro_Festival' target='content_frame'>Orò Festival</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Yoruba_women%27s_clothing' target='content_frame'>Yoruba women's clothing</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Gele_(head_tie)' target='content_frame'>Gele (head tie)</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Agbada' target='content_frame'>Agbada</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Pakaja' target='content_frame'>Pakaja</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Bolojo' target='content_frame'>Bọ̀lọ̀jọ̀</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Yoruba_cuisine' target='content_frame'>Yoruba cuisine</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Akara' target='content_frame'>Àkàrà</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Asun' target='content_frame'>Asun</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Ekuru' target='content_frame'>Ekuru</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Boli_(plantain)' target='content_frame'>Boli</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Efo_riro' target='content_frame'>Efo riro</a></li>
	<li><a href='https://en.wikipedia.org/wiki/If%C3%A1' target='content_frame'>Ifá</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Oba%27s_crown' target='content_frame'>Adé (Oba's Crown)</a></li>
	<li><a href='https://en.wikipedia.org/wiki/%E1%BB%8Cranyan' target='content_frame'>Ọ̀rànmíyàn</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Moremi_Ajasoro' target='content_frame'>Moremi Ajasoro</a></li>
	<li><a href='https://en.wikipedia.org/wiki/If%E1%BA%B9' target='content_frame'>Ifẹ̀</a></li>
</ol>

{% endblock %}
