{% extends 'base_content.html' %}

{% block side %}

<ol>
	<li><a href='https://en.wikipedia.org/wiki/Ife_Empire' target='content_frame'>Ife Empire</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Oyo_Empire' target='content_frame'>Oyo Empire</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Kingdom_of_Benin' target='content_frame'>Benin Empire</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Mali_Empire' target='content_frame'>Mali Empire</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Kingdom_of_Mutapa' target='content_frame'>Kingdom of Mutapa</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Zulu_Kingdom' target='content_frame'>Zulu Empire</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Empire_of_Kitara' target='content_frame'>Chwezi Empire</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Kong_Empire' target='content_frame'>Kong Empire</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Kingdom_of_Nri' target='content_frame'>Kingdom of Nri</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Kingdom_of_Dagbon' target='content_frame'>Kingdom of Dagbon</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Oduduwa' target='content_frame'>Oduduwa</a></li>
	<li><a href='https://en.wikipedia.org/wiki/List_of_rulers_of_Ife' target='content_frame'>Ọọ̀ni of Ifẹ̀</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Oba_of_Benin' target='content_frame'>Oba of Benin</a></li>
	<li><a href='https://en.wikipedia.org/wiki/List_of_rulers_of_the_Yoruba_state_of_Oyo' target='content_frame'>Aláàfin of Oyo</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Orompoto' target='content_frame'>Orompoto</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Ooni_Luwoo' target='content_frame'>Ooni Lúwo Gbàgìdá</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Efunsetan_Aniwura' target='content_frame'>Ẹfúnṣetán Aníwúrà</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Timi_Abibu_Lagunju' target='content_frame'>Timi Abibu Sàngólámì (Ọ)Lágúnjú</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Oba_Okunade_Sijuwade' target='content_frame'>Olubuse II</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Lamidi_Adeyemi_III' target='content_frame'>Adeyemi III</a></li>
</ol>

{% endblock %}
