{% extends 'base_content.html' %}

{% block side %}

<ol>
	<li><a href='https://en.wikipedia.org/wiki/Yoruba_language' target='content_frame'>Yoruba</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Igbo_language' target='content_frame'>Igbo</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Hausa_language' target='content_frame'>Hausa</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Edo_language' target='content_frame'>Edo</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Swahili_language' target='content_frame'>Swahili</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Zulu_language' target='content_frame'>Zulu</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Oromo_language' target='content_frame'>Oromo</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Amharic' target='content_frame'>Amharic</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Somali_language' target='content_frame'>Somali</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Xhosa_language' target='content_frame'>Xhosa</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Bangime_language' target='content_frame'>Bangime</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Bayot_language' target='content_frame'>Bayot</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Dompo_language' target='content_frame'>Dompo</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Ega_language' target='content_frame'>Ega</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Gumuz_language' target='content_frame'>Gumuz</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Oropom_language' target='content_frame'>Oropom</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Jalaa_language' target='content_frame'>Jalaa</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Lufu_language' target='content_frame'>Lufu</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Mawa_language' target='content_frame'>Mawa</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Wutana_language' target='content_frame'>Wutana</a></li>

</ol>

{% endblock %}
