{% extends 'base_content.html' %}

{% block side %}

<ol>
	<li><a href='https://en.wikipedia.org/wiki/Yoruba_music' target='content_frame'>Yoruba music</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Fuji_music' target='content_frame'>Fújì</a></li>
	<li><a href='https://en.wikipedia.org/wiki/J%C3%B9j%C3%BA_music' target='content_frame'>Jùjú</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Sakara_music' target='content_frame'>Sakara Music</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Apala' target='content_frame'>Apala</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Were_music' target='content_frame'>Wéré Music</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Waka_music' target='content_frame'>Waka music</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Afrobeat' target='content_frame'>Afrobeat</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Afrobeats' target='content_frame'>Afrobeats</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Sakara_drum' target='content_frame'>Sakara drum</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Talking_drum' target='content_frame'>Gangan (talking drum)</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Bat%C3%A1_drum' target='content_frame'>Batá drum</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Gbedu' target='content_frame'>Gbedu</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Gudugudu' target='content_frame'>Gudugudu</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Agog%C3%B4' target='content_frame'>agogô</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Ayinde_Barrister' target='content_frame'>Ayinde Barrister</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Ayinla_Omowura' target='content_frame'>Ayinla Omowura</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Batile_Alake' target='content_frame'>Batili Alake</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Yusuf_Olatunji' target='content_frame'>Yusuf Olatunji</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Ebenezer_Obey' target='content_frame'>Ebenezer Obey</a></li>
</ol>

{% endblock %}
