{% extends 'base_content.html' %}

{% block side %}

<ol>
	<li><a href='https://en.wikipedia.org/wiki/Idanre_Hill' target='content_frame'>Idanre Hill</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Osun-Osogbo' target='content_frame'>Osun Grove</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Erin-Ijesha_Waterfalls' target='content_frame'>Erin-Ijesha Waterfalls</a></li>
	<li><a href='https://www.foluoyefeso.com/post/iyake-suspended-lake-ado-awaiye-oyo-state' target='content_frame'>Iyake Suspended Lake</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Owu_waterfalls' target='content_frame'>Owu Waterfall</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Zuma_Rock' target='content_frame'>Zuma Rock</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Awhum_Waterfall' target='content_frame'>Awhum Waterfall</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Obudu_Mountain_Resort' target='content_frame'>Obudu Mountain Resort</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Gurara_Waterfalls' target='content_frame'>Gurara Waterfalls</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Agbokim_Waterfalls' target='content_frame'>Agbokim waterfalls</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Aso_Rock' target='content_frame'>Aso Rock </a></li>
	<li><a href='https://en.wikipedia.org/wiki/Niger_River' target='content_frame'>Niger River</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Benue_River' target='content_frame'>Benue River</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Ogbunike_Caves' target='content_frame'>Ogbunike Caves</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Farin_Ruwa_Falls' target='content_frame'>Farin Ruwa Falls</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Ikogosi_Warm_Springs' target='content_frame'>Ikogosi Warm Springs</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Mambilla_Plateau' target='content_frame'>Mambilla Plateau</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Great_Kwa_River' target='content_frame'>Great Kwa River</a></li> 
	<li><a href='https://en.wikipedia.org/wiki/Yankari_Game_Reserve' target='content_frame'>Yankari Game Reserve</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Olumo_Rock' target='content_frame'>Olumo Rock </a></li>
	<li><a href='https://en.wikipedia.org/wiki/Oban_Hills' target='content_frame'>Oban Hills</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Kajuru_Castle' target='content_frame'>Kajuru Castle</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Oguta_Lake' target='content_frame'>Oguta Lake</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Sukur' target='content_frame'>Sukur Cultural Landscape</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Millennium_Park_(Abuja)' target='content_frame'>Millennium Park</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Ancient_Kano_City_Walls' target='content_frame'>Ancient Kano City Walls</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Iho_Eleru' target='content_frame'>Cave of Ashes (Iho Eleru)</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Elegushi_Beach' target='content_frame'>Elegushi Beach</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Gelegele' target='content_frame'>Gelegele seaport</a></li>
	<li><a href='https://en.wikipedia.org/wiki/Old_Oyo_National_Park' target='content_frame'>Old Oyo National Park</a></li>
</ol>

{% endblock %}
